.header {
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: #22252A;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.logo {
  height: 50px;
}

/* Navigatiebalk ronde hoeken */

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #22252A;
  padding: 10px 20px;

  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.nav-item:first-child {
  margin-left: 30px;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  margin-left: 20px;
}

.nav-item {
  display: inline;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.nav-link:hover {
  color: #ffcc00;
}

.search-bar {
  margin-left: auto;
  margin-right: 20px;
}

.search-input {
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: #f2f2f2;
  color: #333;
}

.search-input::placeholder {
  color: #999;
}