.evenement_afbeelding_container {
  position: relative;
  width: 100%;
  margin-top: clamp(1.2rem, 6vw, 10rem);
}

.evenement_afbeelding {
  width: 100%;
  height: auto;
}

.evenement_tekst {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: clamp(1.2rem, 6vw, 10rem);
  text-align: center;
  padding: 1rem;
  border-radius: 5px;
}

.evenement_buttons {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 600px;
}

.evenement_button {
  padding: 1rem 2rem;
  font-size: clamp(0.8rem, 3vw, 1.5rem);
  text-align: center;
  border-radius: 0.3rem;
  text-decoration: none;
  color: white;
  transition: background-color 0.3s ease;
  flex: 1;
  max-width: 200px;
  min-width: 150px;
  box-sizing: border-box;
}

.button_1 {
  border: 2px solid white;
}

.button_2 {
  background-color: #FBC237;
}

@media (max-width: 768px) {
  .evenement_buttons {
    bottom: 5%;
    flex-direction: column;
    align-items: center;
    gap: 0rem;
  }

  .evenement_button {
    width: 40%;
    max-width: 40%;
    min-width: auto;
    margin: 0 auto;
  }
}

/* Timer blok styling */
.timer_blok {
  text-align: left; /* Tekst links uitlijnen */
  padding: 20px;
  max-width: 600px;
  margin-left: 0; /* Links uitlijnen */
}


/* Kleine titel (boven) */
.kleine_titel {
  font-size: 16px; /* Kleinere tekst voor de titel boven */
  margin-bottom: 5px;
}

/* Grote titel (middelste tekst) */
.grote_titel {
  font-size: 32px; /* Grotere tekst voor de middelste titel */
  margin-bottom: 10px;
  font-weight: bold; /* Optioneel: vetgedrukte tekst voor nadruk */
}

/* Beschrijving (onder) */
.beschrijving {
  font-size: 14px; /* Kleinere tekst voor de beschrijving onder */
}

/* Responsiviteit voor kleinere schermen */
@media (max-width: 768px) {
  .timer_blok {
    padding: 10px;
  }

  .kleine_titel {
    font-size: 14px;
  }

  .grote_titel {
    font-size: 24px; /* Nog steeds groter dan de andere teksten, maar kleiner voor mobiele schermen */
  }

  .beschrijving {
    font-size: 12px;
  }
}


