@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');


.evenement_afbeelding_container {
  position: relative;
  width: 100%;
  margin-top: clamp(1.2rem, 6vw, 10rem);
}

.evenement_afbeelding {
  width: 100%;
  height: auto;
}

.evenement_tekst {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: clamp(1.2rem, 6vw, 10rem);
  text-align: center;
  padding: 1rem;
  border-radius: 5px;
}

.evenement_buttons {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 600px;
}

.evenement_button {
  padding: 1rem 2rem;
  font-size: clamp(0.8rem, 3vw, 1.5rem);
  text-align: center;
  text-decoration: none;
  font-family: 'IBM Plex Sans', sans-serif;
  color: white;
  transition: background-color 0.3s ease;
  flex: 1;
  max-width: 225px;
  min-width: 150px;
  box-sizing: border-box;
  border-radius: 10px;
}

.button_1 {
  border: 2px solid white;
}

.button_2 {
  background-color: #FBC237;
}

@media (max-width: 768px) {
  .evenement_buttons {
    bottom: 5%;
    flex-direction: column;
    align-items: center;
    gap: 0rem;
  }

  .evenement_button {
    width: 40%;
    max-width: 40%;
    min-width: auto;
    margin: 0 auto;
  }
}

/* Timer blok styling */
.timer_blok {
  text-align: left; /* Tekst links uitlijnen */
  padding: 20px;
  max-width: 600px;
  margin-left: 0; /* Links uitlijnen */
}


/* Kleine titel (boven) */
.kleine_titel {
  font-size: 2rem; /* Kleinere tekst voor de titel boven */
  margin-bottom: 5px;
  font-family: 'IBM Plex Sans', sans-serif;
}

/* Grote titel (middelste tekst) */
.grote_titel {
  font-size: 1rem; /* Grotere tekst voor de middelste titel */
  margin-bottom: 0.1rem;
  font-family: 'IBM Plex Sans', sans-serif;
}

/* Beschrijving (onder) */
.beschrijving {
  font-size: 1rem; /* Kleinere tekst voor de beschrijving onder */
  font-family: 'IBM Plex Sans', sans-serif;
}

/* Responsiviteit voor kleinere schermen */
@media (max-width: 768px) {
  .timer_blok {
    padding: 10px;
  }

  .kleine_titel {
    font-size: 14px;
  }

  .grote_titel {
    font-size: 24px; /* Nog steeds groter dan de andere teksten, maar kleiner voor mobiele schermen */
  }

  .beschrijving {
    font-size: 12px;
  }
}

.extra_blok {
  display: flex;
  justify-content: space-between;
  margin-top: 10rem;
  gap: 3rem;
}

.extra_blok_left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 10rem;
}

.word {
  text-align: left;
}

.extra_blok_right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 10rem;
}

.timer {
  display: flex;
  gap: 3rem;
  font-size: 1.5rem;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: bold;
}

.timer_element {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 4rem;
}

.timer_element span {
  font-size: 1rem;
}

@media (max-width: 768px) {
  .extra_blok {
    flex-direction: column;
    align-items: center;
  }

  .extra_blok_right {
    align-items: center;
  }
}

.lijn_onder_blok {
  border: 0;
  height: 3px;
  background: linear-gradient(to right, #F46D47, #76A5B9, #F46D47);
  width: 83%; /* Lijn van links naar rechts */
  margin: 8rem auto 0 auto;
}
