.Interviews_verzameling {
  margin-left: 30px;
  width: 870px;
}

.interview_button2 {
  border-radius: 10px 0 10px 0;
  background-color: #F56D47;
  padding: 3px 10px;
  color: white;
}

.afbeelding-design {
  border-radius: 10px 0 10px 0;
}