.footer {
  background-color: #22252A;
  color: white;
  padding: 40px 20px;
  font-family: 'IBM Plex Sans', sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0  ;
  padding: 0;
  
}

.logo-container {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  margin-right: 40px;
}

.footer-logo {
  height: 30px;
  /* Iets grotere logo voor betere zichtbaarheid */
}

.footer-sections {
  display: flex;
  flex: 2;
  justify-content: space-between;
  gap: 40px;
  /* Meer ruimte tussen de secties voor betere leesbaarheid */
}

.footer-section {
  margin-right: 20px;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #FFA500;
}

.footer-text {
  color: white;
  font-size: 14px;
  font-weight: lighter;
  margin-bottom: 8px;

}

.footer-text:hover {
  color: #FFA500;
  transition: color 0.3s ease;
  /* Nettere overgang bij hover */
}

.footer-social {
  margin-top: 20px;
  text-align: left;
}

.social-icons {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.social-icon {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease-in-out;
}

.social-icon:hover {
  transform: scale(1.1);
}

.footer-bottom {
  margin-top: 40px;
  text-align: center;
  font-size: 14px;
  color: #A0AEC0;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    /* Iets minder padding op kleinere schermen */
  }

  .footer-sections {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    /* Iets minder ruimte tussen secties op mobiel */
  }

  .footer-social {
    margin-top: 30px;
    text-align: center;
  }

  .footer-bottom {
    font-size: 12px;
  }
}